body {
    margin: auto;
    max-width: 50em;
    font-family: sans-serif;
    background-color: rgb(20, 20, 20);
    color: rgb(207, 207, 207)
  }

  a {
    color:rgb(255, 255, 255)
  }
  
  h1 {
    margin: auto;
    color: rgb(47, 104, 64);
  }

  h2 {
    margin: auto;
    color: rgb(110, 47, 128);
  }

  ul {
    margin: auto;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
    padding-right: 1.0em;
    padding-left: 1.0em
  }

  li {
    margin: auto;
    padding: 0.3em;
  }

.header {
  padding: 0.5em;
  margin: 0.5em;
  background-color: rgb(40, 40, 40);
  border-radius: 15px;

}

.nav {
  padding: 0.8em;
  margin: 0.7em;
  background-color: rgb(40, 40, 40);
  border-radius: 15px;

}

.content {
  padding: 0.5em;
  margin: 0.7em;
  background-color: rgb(30, 30, 30);
  border-radius: 15px;
  
}