<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/main.css">
  <title>Muokkaa arvostelua</title>
</head>

<body>
  <div class="header">
    <h1>Muokkaa arvostelua</h1>
  </div>
  
  <div class="nav">
    <a href="/">Etusivulle</a> |
    <a href="/movie_reviews">Arvostelut</a> |
    <a href="/new_item">Luo arvostelu</a> |
    <a href="/find_review">Etsi arvostelu</a> |
    <a href="/all_users">Käyttäjät</a> 
  </div>

  <div class="content">
    {% for message in get_flashed_messages() %}
    <p>
      <b>{{ message }}</b>
    </p>
    {% endfor %}

  <form action="/update_review" method="post">
    <p>
      Elokuva: <br />
      <input type="text" name="title" value="{{ item.movie }}" maxlength="75" required/>
    </p>
    <p>
      Arvosana: <br />
      <input type="number" name="rating" min="0" max="10" value="{{ item.rating }}" required/> / 10
    </p>
    <p>
        Arvostelu: <br />
        <textarea name="review" rows="8" cols="60" maxlength="1000" required>{{ item.review }}</textarea>
    </p>
    <p>
      Genre: <br />
      <select name="genre" required>
        <option value="{{ info.genre }}" selected hidden >{{ info.genre }}</option>
        <option value="Animaatio">Animaatio</option>
        <option value="Dokumentti">Dokumentti</option>
        <option value="Draama">Draama</option>
        <option value="Komedia">Komedia</option>
        <option value="Musikaali">Musikaali</option>
        <option value="Rakkaus">Rakkaus</option>
        <option value="Toiminta/Seikkailu">Toiminta/Seikkailu</option>
        <option value="Jännitys">Jännitys</option>
        <option value="Kauhu">Kauhu</option>
        <option value="Trilleri">Trilleri</option>
        <option value="Tiede">Tiede</option>
      </select>
    </p>
    <p>
      Ohjaaja: <br />
      <input type="text" name="director" value="{{ info.director }}" maxlength="50" required />
    </p>
    <p>
      Julkaisuvuosi: <br />
      <input type="number" name="year" min="1878" max="2025" value="{{ info.year }}" required/>
    </p>
    
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Päivitä arvostelu" />
    <p>
      <a href="/movie_reviews/{{ item.id }}">Takaisin</a> |

    </p>
    <input type="hidden" name="item_id" value="{{ item.id }}">
  </form>
</div>

</body>

</html>