<!DOCTYPE html>
<html>
    <head>
        <title>Virhe</title>
        <h1>Virhe!</h1>
    </head>
    {% if error %}
    <body>
        <p>
            {{ error }}
        </p>
        <p>
            <a href="/register">Yritä uudelleen</a> | 
            <a href="/">Etusivulle</a>
        </p>
    {% endif %}
    </body>

    {% if login_error %}
    <body>
        <p>
            {{ login_error }}
        </p>
        <p>
            <a href="/">Etusivulle</a>
        </p>
    </body>
    {% endif %}

    {% if rnf_error %}
    <body>
        <p>
            {{ rnf_error }}
        </p>
        <p>
            <a href="/">Etusivulle</a> | 
            <a href="/movie_reviews">Kaikki arvostelut</a>
        </p>
    </body>
    {% endif %}

    {% if unf_error %}
    <body>
        <p>
            {{ unf_error }}
        </p>
        <p>
            <a href="/">Etusivulle</a> | 
            <a href="/all_users">Kaikki käyttäjät</a>
        </p>
    </body>
    {% endif %}

    {% if input_error %}
    <body>
        <p>
            {{ input_error }}
        </p>
        <p>
            <a href="/">Etusivulle</a> 
            
        </p>
    </body>
    {% endif %}

    {% if comment_error %}
    <body>
        <p>
            {{ comment_error }}
        </p>
        <p>
            <a href="/">Etusivulle</a> |
            <a href="/movie_reviews">Kaikki arvostelut</a>
            
        </p>
    </body>
    {% endif %}

</html>