<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/main.css">
    <title>Etsi arvosteluja</title>
</head>

<body>
    <div class="header">
    <h1>Etsi arvostelu</h1>
    </div>

    <div class="nav">
        <a href="/movie_reviews">Arvostelut</a> |
        <a href="/new_item">Luo arvostelu</a> |
        <a href="/find_review">Etsi arvostelu</a> |
        <a href="/all_users">Käyttäjät</a> 
    </div>

    <div class="content">
    <form action="/find_review" method="get">
        <p>
            Hakusana (Elokuvan nimi): <input type="text" name="query" value="{{ query }}">
        </p>
        <input type="submit" value="Etsi">
    </form>

    <p>
    <a href="/">Etusivulle</a>
    </p>

    {% if query %}

    <h2>Tulokset:</h2>
    {% if results %}
    <ul>
        {% for item in results %}
        <li><a href="/movie_reviews/{{ item.id }}">{{ item.movie }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>
        Ei hakutuloksia. Voi olla, että elokuvalle <i>{{ query }}</i> ei ole vielä arvosteluja. 
    </p>
    <p>
        Mikäli olet valtuutettu elokuva-asiaintuntija ja olet nähnyt elokuvan <i>{{ query }}</i>, voit 
        <a href="/new_item">Luoda ensimmäisen arvostelun!</a>
    </p>
    {% endif %}
    {% endif %}
    </div>
</body>

</html>