<!DOCTYPE html>
<html>

<head>
  <title>Kirjainlaatikko</title>
</head>

<body>
  <h1>Etusivu</h1>

  <p>Tervetuloa Kirjainlaatikkoon</p>

  <p>Täältä löydät maailman terävimmät elokuva-arvostelut</p>
  
  <h2>Kirjautuminen:</h2>
    {% if session.username %}
    <p>
      Olet kirjautunut nimellä <a href="/show_user/{{ session.user_id }}">{{session.username}}</a>
    </p>
    <p>
      <a href="/logout">Kirjaudu ulos</a>
    </p>
    {% else %}
    <p>
      <a href="/register">Luo tunnus</a>
    </p>

    <form action="/login" method="post"> 
      <p>
        Tunnus: <br />
        <input type="text" name="username" />
      </p>
      <p>
        Salasana: <br />
        <input type="password" name="password" />
      </p>
      <input type="submit" value="Kirjaudu">
    </form>
    {% endif %}
  
  <h2>Linkit:</h2>
  <h3><a href="/movie_reviews">Arvostelut</a></h3>
  <p>
    <a href="/new_item">Luo arvostelu</a> | 
    <a href="/find_review">Etsi arvosteluja</a>
  </p>
  <h3><a href="/all_users">Käyttäjät</a></h3>
  <h1>{{ message }}</h1>
  <p>
    Tämä on asiantuntijoidemme laatima lista
  </p>
  <ul>
    {% for item in items%}
    <li>{{ item }}</li>
    {% endfor %}
  </ul>

  <img src="/static/madagascar.png" />

</body>

</html>
