<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/static/main.css">
    <title>Elokuva-arvostelut</title>
</head>

<body>
    <div class="header">
    <h1>
        Elokuva-arvostelut
    </h1>
    </div>
    <div class="nav">
        <a href="/movie_reviews">Arvostelut</a> |
        <a href="/new_item">Luo arvostelu</a> |
        <a href="/find_review">Etsi arvostelu</a> |
        <a href="/all_users">Käyttäjät</a> 
    </div>
    <div class="content">
    <ul>
        {% for item in items %}
        <li><a href="/movie_reviews/{{ item.id }}">{{ item.movie }}</a></li>
        {% endfor %}
    </ul>

    <p>
        <a href="/">Etusivulle</a>
    </p>
    </div>
</body>
</html>