<!DOCTYPE html>
<html>

<head>
  <title>Uusi arvostelu</title>
</head>

<body>
    <h1>Lisää uusi elokuva-arvostelu</h1>
  {% if session.username %}
  <form action="/create_item" method="post">
    <p>
      Elokuva: <br />
      <input type="text" name="title" />
    </p>
    <p>
      Arvosana: <br />
      <input type="number" name="rating" min="0" max="10" /> / 10
    </p>
    <p>
        Arvostelu: <br />
        <textarea name="review" rows="8" cols="60"></textarea>
    </p>
    <input type="submit" value="Luo arvostelu" />
  </form>
   {% else %}
   <h3>Sinun täytyy kirjautua sisään, jotta voit jättää arvostelun</h3>
   <form action="/login" method="post"> 
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu">
  </form>
    <h4>Ei tunnusta?</h4>
    <p><a href="/register">Rekisteröidy</a> | <a href="/">Takaisin etusivulle</a>
    </p>
  {% endif %}
</body>
 
</html>
