<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/main.css">
  <title>Uusi arvostelu</title>
</head>

<body>
  <div class="header">
    <h1>Lisää uusi elokuva-arvostelu</h1>
  </div>
  <div class="nav">
    <a href="/movie_reviews">Arvostelut</a> |
    <a href="/new_item">Luo arvostelu</a> |
    <a href="/find_review">Etsi arvostelu</a> |
    <a href="/all_users">Käyttäjät</a> 
  </div>

  <div class="content">

  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}

  {% if session.username %}
  <form action="/create_item" method="post">
    <p>
      Elokuva: <br />
      <input type="text" name="title" maxlength="75" required/>
    </p>
    <p>
      Arvosana: <br />
      <input type="number" name="rating" min="0" max="10" required/> / 10
    </p>
    <p>
        Arvostelu: <br />
        <textarea name="review" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <p>
      Genre: <br />
      <select name="genre" required>
        <option value="">(valitse)</option>
        <option value="Animaatio">Animaatio</option>
        <option value="Dokumentti">Dokumentti</option>
        <option value="Draama">Draama</option>
        <option value="Komedia">Komedia</option>
        <option value="Musikaali">Musikaali</option>
        <option value="Rakkaus">Rakkaus</option>
        <option value="Toiminta/Seikkailu">Toiminta/Seikkailu</option>
        <option value="Jännitys">Jännitys</option>
        <option value="Kauhu">Kauhu</option>
        <option value="Trilleri">Trilleri</option>
        <option value="Tiede">Tiede</option>
      </select>
    </p>
    <p>
      Ohjaaja: <br />
      <input type="text" name="director" maxlength="50" required/>
    </p>
    <p>
      Julkaisuvuosi: <br />
      <input type="number" name="year" min="1878" max="2025" required>
    </p>
    <input type="submit" value="Luo arvostelu" />
    <p>
    <a href="/">Etusivulle</a>
    </p>
  </form>

   {% else %}
   <h3>Sinun täytyy kirjautua sisään, jotta voit jättää arvostelun</h3>
   <form action="/login" method="post"> 
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu">
  </form>
    <h4>Ei tunnusta?</h4>
    <p><a href="/register">Rekisteröidy</a> | <a href="/">Etusivulle</a>
    </p>
  {% endif %}
  </div>
</body>
 
</html>
