<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/main.css">
  <title>Poista arvostelu</title>
</head>

<body>
  <div class="header">
    <h1>Poista arvostelu</h1>
  </div>
  <div class="nav">
    <a href="/movie_reviews">Arvostelut</a> |
    <a href="/new_item">Luo arvostelu</a> |
    <a href="/find_review">Etsi arvostelu</a> |
    <a href="/all_users">Käyttäjät</a> 
  </div>
  <div class="content">
    <p>Arvostelu: {{ item.movie }} | {{ item.rating }} / 10</p>
    <p>Haluatko varmasti poistaa arvostelun?</p>
  <form action="/remove_review/{{ item.id }}" method="post">
    <input type="submit" name="remove" value="Poista arvostelu">
    <input type="submit" name="return" value="Palaa takaisin">
    <p>
      <a href="/">Etusivulle</a>
    </p>
  </form>
  </div>

</body>

</html>