<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/main.css">
    <title>{{ item.movie }}</title> 
</head>

<body>
    <div class="header">
    <h1>Arvostelussa: {{ item.movie }}</h1>
    </div>

    <div class="nav">
        <a href="/">Etusivulle</a> |
        <a href="/movie_reviews">Arvostelut</a> |
        <a href="/new_item">Luo arvostelu</a> |
        <a href="/find_review">Etsi arvostelu</a> |
        <a href="/all_users">Käyttäjät</a> 
    </div>
    
    <div class="content">
    {% if info %}

    {% for message in get_flashed_messages() %}
    <p>
      <b>{{ message }}</b>
    </p>
    {% endfor %}

    <p>
        <h2>Tietoja elokuvasta: </h2>
        {% for info in info %}
        <p>Genre: {{ info.genre }} </p>
        <p>Ohjaaja: {{ info.director }} </p>
        <p>Julkaisuvuosi: {{ info.year }} </p>
        {% endfor %}
    </p>
    {% endif %}

    <h2>Käyttäjän <a href="/show_user/{{ item.user_id }}">{{ item.username }}</a> arvostelu:</h2>

    <p>
        Arvosana: {{ item.rating }} / 10
    </p>
    <p>
        Arvostelu: {{ item.review | show_lines }}
    </p>

    <h2>Kommentit:</h2>
    {% if comments %}
    <ul>
        {% for comment in comments %}
        {% if session.user_id == comment.user_id %}
        <li>"{{ comment.content | show_lines }}" <br>
           - <a href="/show_user/{{ comment.user_id }}">{{ comment.username }}</a> | 
        <a href="/remove_comment/{{ comment.id }}">Poista </a></li>
        <hr />

        {% else %}
        <li>"{{ comment.content | show_lines }}" <br> 
            - <a href="/show_user/{{ comment.user_id }}">{{ comment.username }}</a></li>
            <hr />
        {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <p>Ei kommentteja</p>
    {% endif %}

    <h4>Jätä kommentti:</h4>
    {% if session.username %}
    <form action="/create_comment" method="post">
        <input type="hidden" name="review_id" value="{{ item.id }}">
        <p>
            <textarea name="comment" rows="6" cols="40" maxlength="100" required></textarea>
        </p>
        <p>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <input type="submit" name="send" value="Lähetä">
        </p>
    </form>
    {% else %}
    <p>Kirjaudu sisään jättääksesi kommentin</p>
    <form action="/login" method="post"> 
        <p>
          Tunnus: <br />
          <input type="text" name="username" />
        </p>
        <p>
          Salasana: <br />
          <input type="password" name="password" />
        </p>
        <input type="submit" value="Kirjaudu">
    </form>
    {% endif %}

    {% if item.user_id == session.user_id %}
    <h2>Toiminnot: </h2>
    <p>
        <a href="/edit_review/{{ item.id }}">Muokkaa</a> |
        <a href="/remove_review/{{ item.id }}">Poista</a>
    </p>
    {% endif %}
    </div>
</body>

</html>